body {
    background-image: url("background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: helvetica, arial, sans-serif;
    font-size: 40px;
    color: black;
    margin: 10px;
    padding: 0;
}

/* This is a comment, by the way */

p {
    color: #FFFFFF;
    line-height: 1;
    font-style: normal;
}

h1 {
    color: #E21212;
    font-size: 80px;
    margin: 0;
    margin-bottom: 7px;
    font-style: normal;
    text-align: left;
    letter-spacing: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCA1A1;
}

h2 {
    color: #FFFFFF;
    font-size: 1.5em;

}

h3 {
    color: #999;
    font-size: 1.25em;
}
